/* header */
* { margin: 0; padding: 0; }
body { list-style: none; background-color: #fcfcfc; }
a {text-decoration: none; }
header > div {display: inline-block; }
.h_1c {background-color: #fff; width: 100%; height: 150px; border-bottom: 3px solid #008000;
         display: flex; justify-content: flex-end; }
.h_1c > div { display: inline-block; margin: 10px 5px 0 0; }
.h_1c > div > a {color:#14148c; margin: 0px 10px 0 0;
                    font-size: small; color: #ccc;}    
.nav_li { background-color: #008000; width: 100%; height: 60px; 
            text-align: center; line-height: 60px;} 
.nav_li > ul { list-style: none; }
.nav_li > ul > li { display: inline-block; margin: 0 30px;}
.nav_li > ul > li > a { color:#fff; }
.nav_li > ul > li > a:hover { background-color: #fff; color: #008000;}

/* body */
main > p {text-align: center; margin: 60px 0 30px 0; font-size: 3rem; font-weight: bold; }
main > nav { text-align: center; }
.nav_li2 > li { display: inline-block; }
.nav_li2 > li > a { color:#ccc; font-size: large; padding: 0 20px; }

/* form태그 */
form { text-align: center; margin: 20px 0 0 0;}
form > .ip_tt > input {width: 70%; height: 30px; padding: 10px 10px; margin: 20px 0;
                    font-size: 1rem; }
form > .tt_ct > textarea { width: 70%; padding: 20px 10px; font-size: 1rem;}