* { margin: 0; padding: 0; }
body { list-style: none; background-color: #fcfcfc; }
a {text-decoration: none; }
header > div {display: inline-block; }
.h_1c {background-color: #fff; width: 100%; height: 200px; border-bottom: 3px solid #008000;
         display: flex; justify-content: flex-end; }
.h_1c > div { display: inline-block; margin: 10px 5px 0 0; }
.h_1c > div > a {color:#14148c; margin: 0px 10px 0 0;
                    font-size: small; color: #ccc;}    
.nav_li { background-color: #008000; width: 100%; height: 60px; 
            text-align: center; line-height: 60px;} 
.nav_li > ul { list-style: none; }
.nav_li > ul > li { display: inline-block; margin: 0 30px;}
.nav_li > ul > li > a { color:#fff; }
.nav_li > ul > li > a:hover { background-color: #fff; color: #008000;}

/* .b_backimg { width: 100%; height: 400px; background-color: #14148c;} */
.b_main { width: 100%; height: 80%; margin: 10px auto; }
.b_main > div { display: inline-block; background-color: #008000; 
                text-align: center; margin: 30px 10px; 
                width: 40%; height: 40%; box-sizing: border-box; }
footer { width: 100%; text-align: center; font-size: small; }
footer > p { display: inline-block; padding: 0 10px; }
footer > p > a { color: #ccc; }
